$base-color: white;
$day-highlight: #d9534f;
$shadow: 2px 2px 1px rgba(68, 68, 68, 0.3);
$calendar-hover: rgb(255, 153, 0);
$green: #5bc0de;

.main {
  margin-bottom: 100px;
  background-color: $base-color;
}
.header {
  text-align: center;
  font-size: 2rem;
  padding: 1vh;
  background-color: $base-color;
}

// Calendar
.table {
  margin: auto;
  max-width: 90%;
  thead {
    background-color: $green;
    box-shadow: $shadow;
    th {
      text-align: center;
      padding: 1vh;
      height: 5vh;
      min-width: 15vh;
    }
  }
  tbody {
    td {
      padding: 1vh;
      width: 15vh;
    }
    .cell {
      font-weight: bold;
      box-shadow: $shadow;
      padding: 1.2vh 0 1vh 1.2vh;
      height: 15vh;
      border-radius: 10px;
      border: 1px solid rgba(68, 68, 68, 0.3);
      transition: all 0.3s ease;
      overflow: scroll;
    }
    .cell::-webkit-scrollbar {
      display: none;
    }
    .cell:hover {
      background-color: $calendar-hover;
      transform: scale3d(1.2, 1.2, 1.2);
      transition: all 0.2s ease;
      border-radius: 10px;
    }
    .calEvents {
      font-size: 15px;
      line-height: 0.7rem;
    }
    .eventTitle {
      font-size: 0.6rem;
      color: black;
      font-weight: 400;
      cursor: pointer;
    }
    .eventLink:hover {
      text-decoration: underline;
    }
  }
}
