.main {
  margin-bottom: 100px;
}
.month {
  text-align: center;
  font-size: 2rem;
  padding: 1vh;
  background-color: #f5c000ad;
}
.table {
  border-collapse: collapse;
  thead {
    background-color: rgba(130, 201, 0, 0.8);
    box-shadow: 2px 2px 1px rgba(10, 10, 10, 0.2);

    th {
      text-align: center;
      padding: 1vh;
      height: 5vh;
      min-width: 10vw;
    }
  }
  tbody {
    td {
      font-weight: bold;
      box-shadow: 2px 2px 1px rgba(10, 10, 10, 0.2);
      padding: 1.5vh 0 0 1.5vh;
      height: 15vh;
      width: 15vh;
      border-radius: 10%;
      background-color: rgba(214, 229, 255, 0.2);
      transition: all 0.3s ease;
    }
    td:hover {
      background-color: rgb(255, 153, 0);
      transform: scale3d(1.1, 1.1, 1.1);
      transition: all 0.2s ease;
    }
  }
}
