@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

.logo {
  font-family: "Spicy Rice", cursive;
  color: white;
  padding: 0.5rem 1.5rem;
  height: 40px;
  font-size: 2rem;
}
