@import "~bootstrap/scss/bootstrap";

$base-color: white;

html,
body {
  background-color: $base-color;
  z-index: -1;
}

.App {
  background-color: $base-color;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
